
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    scroll-behavior: smooth;
    
}

.navbar{
    background-color: red;
}

h1{
    font-family: 'Pinyon Script';
    text-align: center !important;
    color: white;
    font-weight: bolder;
    margin-left: 600px;
}

.bg-img{
    background-size: cover;
    width: 100%;
    margin-top: 20px;
    background-repeat: no-repeat;
}

h2{
    font-family: 'Pinyon Script';
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
}

h4{
    color: white;
    text-align: center;
    padding: 40px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 1200px;
    text-align: center; 
    padding: 15px;
    margin-top: 50px;
    margin-left: 80px;
    
}
.prize{
    color: red;
}

th{
    background-color: black;
    color: white;
}

.copyright{
    background-color: red; 
    margin-top: 20px;  
}

.footer{
    margin-left: 550px;

}

@media (max-width: 600px){
    .body{
        overflow: hidden;      
    }

    h1{
        margin-left: 100px;
    }

    .bg-img{
        height: 200px;
        width: 100%;
    }

    table{
        width: 320px;
        margin-left: 10px;
        margin-top: 40px;
    }

    .footer{
        margin: 10px;

    }

}